.intro-bg {
	background-image: url('../img/background.jpg');
  min-height: 600px;
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom:15px;
  border-radius: 6px;
	padding-top: 25px;
}

#introText {
	color: white;
	text-shadow: 2px 2px 4px #000000;
  margin-top: 55px;
}

#introIMG {
	max-width: 15%;
	height: auto;
}
